@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
    position: relative;
    min-height: 100%;
}

body {
    background-color: #f2f1ef;
}
#main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
}

/* Calculator section */

#calculator {
    width: 380px;
    background: #b1a6a4;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 35px 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}
#display {
    background-color: #eaeed6;
    margin-bottom: 25px;
    width: 85%;
    min-height: 25%;
    border-radius: 10px;
    padding: 17px;
    word-wrap: break-word;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.3);
}
#result {
    color: #3f3f3f;
    font-size: 1.8rem;
    text-align: right;

}
#operation {
    color: #3f3f3f;
    font-size: 1rem;
    text-align: right;

}
#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    min-width: 80%;
    gap: 20px;
}
button {
    font-size: 1.325rem;
    padding: 1rem 0;
    font-weight: 700;
    border: none;
    outline: none;
    text-decoration: none;
    border-radius: 20%;
    box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.5);
    color: #DFDFDF;
    cursor: pointer;
    transition: all .15s ease-in-out;
}
.number, #equals{
    background: #5c5c5c;
}
.operator {
    background: #979593; 
}
#clear {
    background-color: #a75858;
}

.number:hover, #equals:hover {
    background-color: #7a7a7a ;
    transform: translateY(-0.2rem);
}
.operator:hover {
    background-color: #bbb8b6;
    transform: translateY(-0.2rem);
}
#clear:hover {
    background-color: #d37474;
    transform: translateY(-0.2rem);
}

.number:active {
    background-color: #8f8e8e ;
    transform: translateY(-0.2rem);
}
.operator:active {
    background-color: #cfccca;
    transform: translateY(-0.2rem);
}
#clear:active {
    background-color: #e47d7d;
    transform: translateY(-0.2rem);
}

/*Footer section*/
#footer {
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    width: 100%;
    font-size: 1rem;
}
#github {
    height: 20px;
    width: auto;
}
#github:hover {
    transform: scale(1.1);
}
